{% extends 'base.html.twig' %}
{% block main %}
    <!-- Minimal responsive + columns -->
    <main class="container">
        <div class="row">
            <!-- Content (les pages) -->
            <div class="col-9">

                <h1 class="mb-5">Bienvenue sur la météo des villes !</h1>
                 {% for compteur, weather in weatherData %}
                 
                <div class="item item--bg-snow">
                    <div class="item--city"><a href="{{ path('app_city_id', {'id': id}) }}">{{weather.city}}</a></div>
                    <div class="item--forecast">{{weather.date}} : {{weather.min}}/{{weather.max}}</div>
                </div>
                {% endfor %}

            </div>

            <!-- Sidebar (le widget) -->
            <div class="col-3">

                <!-- Code du widget -->
                <div id="widget">

                    <!-- Si ville sélectionnée -->
                    <p><b>Bordeaux</b></p>
                    <p>29-01-2020</p>
                    <p><img src="images/sun-cloud.png"></p>
                    <p>0°C / 10°C</p>

                    <!-- Si ville non sélectionnée -->
                    <div>Sélectionnez une ville<br>dans la liste de gauche</div>

                </div>

            </div>
        </div>
    </main>
{% endblock %}
